@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #eee;
  font-family: "Open Sans", sans-serif;
}
